/* Timer */

.timer {
    text-align: center;
    padding: 50px;
}

.startButton {
    margin-left: 10px;
}

.timerNumber {
    text-align: center;
    padding: 10px;
}

.setTime {
    text-align: center;
}

/* Body */

.description {
    text-align: center;
    padding: 100px;
}

/* Footer */

.footer {
    font-style: italic;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}